* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

nav ul {
    background-color: blueviolet;
    display: flow-root;
    list-style-type: none; 
}

nav ul li {
    float: left;
}

nav ul .login {
    float: right;
}

nav ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin-top: 200px !important;
    width: 300px;
    min-height: max-content;
    border: 1px solid black;
    margin: auto;
}

.login-header {
    background-color: blueviolet;
    padding: 20px;
}

.login-fooder {
    background-color: blueviolet;
    padding: 20px;
}

.login-body {
    padding: 20px;
}

.login-form-controller input[type = email],
.login-form-controller input[type = password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-button {
    width: 50%;
    padding: 12px 20px;
    background-color: blueviolet;
    border: 0;
    border-radius: 10px;
    color: white;
    margin: 8px 0;
}

.create-account-link {
    text-decoration: none;
    color: blueviolet;
}