* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

nav ul {
    background-color: blueviolet;
    display: flow-root;
    list-style-type: none; 
}

nav ul li {
    float: left;
}

nav ul .login {
    float: right;
}

nav ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}