.body {
  display: block;
}

.ul {
  background-color: blueviolet;
  list-style-type: none;
  overflow: hidden;
}

.ul li {
  float: left;
}

.ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.right {
  float: right;
}